<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="header :: header"></head>
<body>
<div th:include="navbar :: navbar"></div>
<div class="container">

    <div class="row">
        <div th:include="messages :: messages"></div>
        <form class="col s12" action="/eventos" method="post">
            <input hidden name="idEvento" th:value="${evento.idEvento}"/>
            <div class="row">
                <div class="input-field col s12">
                    <input th:value="${evento.nomeEvento}" placeholder="Nome do evento" id="evento" name="nomeEvento"
                           type="text" required class="validate" maxlength="50"/>
                    <label for="evento">Nome</label>
                </div>
                <div class="input-field col s12">
                    <input th:value="${evento.localEvento}" id="local" name="localEvento" type="text" class="validate"
                           maxlength="100" required>
                    <label for="local">Local evento</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input th:value="${{evento.dtEvento}}" id="dateEvento" type="text" name="dtEvento"
                           class="datepicker" required>
                    <label for="dateEvento">Data do evento</label>
                </div>
                <div class="input-field col s6">
                    <input th:value="${{evento.hrEvento}}" id="horaEvento" type="text" name="hrEvento"
                           class="timepicker" required>
                    <label for="horaEvento">Hora do evento</label>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light right" type="submit" name="action">Salvar
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
</div>

<div th:include="footer :: footer"></div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let elems = document.querySelectorAll('.datepicker');
        let options = {
            format: 'dd/mm/yyyy'
        };
        M.Datepicker.init(elems, options);
    });
    document.addEventListener('DOMContentLoaded', function () {

        let timepicker = document.querySelectorAll('.timepicker');
        M.Timepicker.init(timepicker);
    });
</script>
</body>
</html>